$content-padding:                 10px !default;
$content-margin:                  10px !default;
$grid-padding-width:              10px !default;
$base-color:                      #000 !default;
$z-index-click-block:             99999 !default;



